<div class="page-content">
  <div class="d-flex flex-wrap justify-content-center align-items-center gap-4">

    <div class="auth-box p-4 overflow-auto" style="max-height: 450px;">
      <h2 class="quien-titulo">{{ githubUser?.name }}</h2>
      <p class="quien-texto">{{ githubUser?.bio }}</p>
      <p class="quien-texto"><strong>Usuario de Github:</strong> {{ githubUser?.login }}</p>
      <p class="quien-texto"><strong>Ubicación:</strong> {{ githubUser?.location }}</p>

      <hr class="text-light">

      <h3 class="quien-subtitulo">Acerca del juego del creador:</h3>
      <p class="quien-texto">
        Llamado <strong>"COLOR DETECTOR"</strong>, un desafío visual en el que el jugador debe identificar 
        el cuadrado que tiene un color ligeramente diferente al resto, entre una cuadrícula de colores similares. <br><br>
        A medida que el jugador acierta, el nivel de dificultad aumenta, reduciendo la diferencia tonal.<br><br>
        El objetivo es desafiar la percepción visual y poner a prueba la rapidez y precisión para detectar colores,
        en una carrera contra el tiempo o en modo por niveles. Ideal para divertirse y poner a prueba tu vista.
      </p>
    </div>

    <div>
      <img [src]="githubUser.avatar_url" alt="Avatar" class="img-perfil">
    </div>
  </div>
</div>
